#header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgba(100, 120, 140, 0.5);

  color: white;

  font-size: 40px;

  padding: 8px;

  .title {
    margin-left: 4px;
  }
}