<div class="component" id="login">
  <div class="title roboto">Please login to access your event dashboard.</div>
  <form class="form" id="form-login">
    <div class="fields">
      <input type="text" class="input-text" placeholder="username" required [(ngModel)]="form.username" name="username">
      <input type="password" class="input-text" placeholder="password" required [(ngModel)]="form.password"
        name="password">
    </div>
    <button class="button oswald" (click)="login()">Login</button>
  </form>
</div>