#home {
  .content {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 32px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 20px;

      .logout-button {
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}