// reset box-sizing, padding, and margin
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

// basic page layout
.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 24px;
}

// content of page layout
.content {
  width: 600px;
}

// fonts
.oswald {
  font-family: 'Oswald', sans-serif;

  line-height: 1; // Oswald font comes with a high line-height
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

// reset button styles
button {
  background-color: transparent;

  border: none;

  font: inherit;
  color: inherit;

  cursor: pointer;
}

// restyle buttons
.button {
  height: 32px;

  padding: 4px;

  border: 1px solid black;
  border-radius: 12px;

  &:hover {
    background-color: lightblue;
  }
}

// reset anchor tag styles
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// form and input
.form {
  display: flex;
  flex-direction: column;
}

input {
  height: 32px;
  width: 100%;

  border: none;
  border-radius: 12px;

  background: lightgrey;

  font-size: 16px;
  text-align: center;

  margin-top: 2px;
  margin-bottom: 2px;

  &:focus {
    outline: none;

    background-color: transparent;

    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    transition: background-color 0.3s;
    transition: border-radius 0.3s;
    transition: border-bottom 0.5s;
  }
}