// reset box-sizing, padding, and margin
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

// basic page layout
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// fonts
.oswald {
  font-family: 'Oswald', sans-serif;

  line-height: 1; // Oswald font comes with a high line-height
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

// reset button styles
button {
  background-color: transparent;

  border: none;

  font: inherit;
  color: inherit;

  cursor: pointer;
}

// restyle buttons
.button {
  padding: 4px;

  border: 1px solid black;
  border-radius: 4px;

  &:hover {
    background-color: lightblue;
  }
}

// reset anchor tag styles
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

